table {
  border-collapse: separate; /* Don't collapse */
  overflow-x: scroll;

  th {
    position: -webkit-sticky;
    position: sticky;

    // table headers should stick BELOW the main navbar
    top: 52px;
    @media screen and (min-width: 1024px) {
      top: 78px;
    }
  }
}
