@import "../../config/colors";

.is-debug-trace {
  code {
    color: white;
  }

  pre.code-snippet {
    background-color: lighten($color-dark-background, 5%);

    ol {
      li {
        color: darken(gray, 25%);

        & > span {
          color: lighten(gray, 25%);
        }

        &.dist-0 {
          background-color: lighten(mix($color-dark-background, #FF0000, 0.9), 5%);
        }

        &.dist-1 {
          background-color: lighten(mix($color-dark-background, #FF0000, 0.92), 3%);
        }

        &.dist-2 {
          background-color: lighten(mix($color-dark-background, #FF0000, 0.94), 1%);
        }
      }
    }
  }
}
