[submodule "assets/libs/bulma"]
	path = assets/libs/bulma
	url = https://github.com/jgthms/bulma.git
[submodule "assets/libs/font-awesome"]
	path = assets/libs/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "assets/libs/tablesort"]
	path = assets/libs/tablesort
	url = https://github.com/tristen/tablesort.git
[submodule "assets/libs/hint"]
	path = assets/libs/hint
	url = https://github.com/chinchang/hint.css.git
[submodule "assets/libs/tingle"]
	path = assets/libs/tingle
	url = https://github.com/robinparisi/tingle.git
[submodule "assets/libs/simplelightbox"]
	path = assets/libs/simplelightbox
	url = https://github.com/andreknieriem/simplelightbox.git
