.is-debug-trace {
  code {
    padding: 0;
    background-color: transparent;
    font-family: monospace;
  }

  pre.code-snippet {
    white-space: nowrap;
    word-break: break-word;
    margin: 0;
    padding-top: 0;

    ol {
      list-style-type: decimal;

      li {
        margin: 0 auto;
        white-space: pre-wrap;
        padding: 0 10px 0 10px;
      }
    }
  }
}
