{% extends 'base.html.twig' %}

{% block body %}
    {# @var parentDir \ricwein\FileSystem\Directory #}
    <div class="sm:px-0 md:px-6 lg:px-12 xl:px-30 mt-12 mb-12">
        <table class="file-table">
            <thead>
            <tr>
                <th scope="col">File</th>
                <th scope="col">Size</th>
                <th scope="col">Last Modified</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% if parentDir is not null %}
                {% include 'components/row.html.twig' with {
                    url: url('app_index', {path: parentDir.path.relativePath(rootPath)}),
                    image: '<i class="fa-solid fa-arrow-turn-up fa-xl pl-3.5 pt-4 h-10 w-10 rounded-full bg-slate-800"></i>',
                    name: '/..'
                } only %}
            {% endif %}
            {% for data in files %}
                <tr is="vue:file-row"
                    :file="{{ data.file | json_encode }}"
                    :size="{{ data.size | json_encode }}"
                    previewSize="40"
                    url="{{ url('app_index', {path: data.file.file.path.relativePath(rootPath)}) }}"
                ></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
