@import "../config/colors";
@import "dark/bulma";
@import "dark/error";
@import "dark/tingle";

:root {
  --main-bg-color: #{$color-dark-background};
  --main-fg-color: #{$color-dark-foreground};
  --main-accent-color: #{$color-dark-accent};
  --main-navbar-color: #{$color-dark-navbar};
}

pre.code-snippet {
  background-color: lighten($color-dark-background, 3%);

  ol {
    li {
      color: darken(gray, 25%);

      & > span {
        color: lighten(gray, 25%);
      }

      &.dist-0 {
        background-color: lighten(mix($color-dark-background, red, 0.8), 5%);
      }

      &.dist-1 {
        background-color: lighten(mix($color-dark-background, red, 0.85), 3%);
      }

      &.dist-2 {
        background-color: lighten(mix($color-dark-background, red, 0.9), 1%);
      }

    }
  }
}

tr.clickableRow {
  &:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(darken($color-dark-background, 0.85), 0.3), 0 0 0 1px rgba(darken($color-dark-background, 0.9), 0.2);
  }
}

.tingle-modal {
  background-color: transparent !important;
}
