@import "../config/colors";

:root {
  --main-bg-color: #{$color-light-background};
  --main-fg-color: #{$color-light-foreground};
  --main-accent-color: #{$color-light-accent};
}

pre.code-snippet {
  background-color: darken($color-light-background, 3%);

  ol {
    li {
      color: lighten(gray, 25%);

      & > span {
        color: darken(gray, 25%);
      }

      &.dist-0 {
        background-color: darken(mix($color-light-background, red, 0.8), 5%);
      }

      &.dist-1 {
        background-color: darken(mix($color-light-background, red, 0.85), 3%);
      }

      &.dist-2 {
        background-color: darken(mix($color-light-background, red, 0.9), 1%);
      }

    }
  }
}

tr.clickableRow {
  &:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(lighten($color-light-foreground, 20%), 0.3), 0 0 0 1px rgba(lighten($color-light-foreground, 20%), 0.1);
  }
}

.tingle-modal {
  background-color: rgba(80, 80, 80, 0.85) !important;
}
