// Light Theme:
$color-light-background: white !default;
$color-light-foreground: black !default;
$color-light-navbar: $color-light-background !default;
$color-light-accent: #1f62d7 !default;

// Dark Theme:
$color-dark-background: #131313 !default;
$color-dark-foreground: #FFFFFF !default;
$color-dark-navbar: $color-dark-background !default;
$color-dark-accent: #1DB954 !default;
