$color-light-background: white !default;
$color-light-foreground: black !default;
$color-light-accent: #1f62d7 !default;

$color-dark-background: #131313 !default;
$color-dark-foreground: #FFFFFF !default;
$color-dark-accent: #1DB954 !default;
