// Light Theme:
$color-light-background: white !default;
$color-light-foreground: black !default;
$color-light-navbar: $color-light-background !default;
$color-light-accent: #6851ff !default;

// Dark Theme:
$color-dark-background: #110f11 !default;
$color-dark-foreground: #f2f2f2 !default;
$color-dark-navbar: $color-dark-background !default;
$color-dark-accent: #1f62d7 !default;
