{% extends 'base.html.twig' %}

{% block main %}
    <main class="main-body">

        <div class="container body-content">
            <div class="hero is-large">
                <div class="hero-body has-text-centered">
                    <h1 class="title is-1">{% block error_title %}{% endblock %}</h1>
                    <h2 class="subtitle is-2">{% block error_subtitle1 %}{% endblock %}</h2>
                    <p>{% block error_subtitle2 %}{% endblock %}</p>
                </div>
            </div>
        </div>

        {% block error_extended %}{% endblock %}

    </main>
{% endblock %}
