.container.index {
  padding-top: 5rem;
  padding-bottom: 5rem;

  table {
    box-sizing: border-box;

    td {
      vertical-align: middle;

      i.thumbnail {
        font-size: 24px;
      }

      img.thumbnail {
        height: 32px;
        min-height: 32px;
        max-height: 32px;
        width: 32px;
        min-width: 32px;
        max-width: 32px;
      }
    }

    tr td:first-of-type {
      text-align: center;
      width: 1px;
    }
  }
}

tr.clickableRow {
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
  opacity: 0.7;

  td {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }

  td:first-of-type {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  td:last-of-type {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  &:hover {
    opacity: 1.0;
    transform: scale(1.02, 1.02) !important;
    -webkit-transform: scale(1.02, 1.02) !important;
    -moz-transform: scale(1.02, 1.02) !important;

    & td {
      border-left-color: var(--main-accent-color) !important;
      border-right-color: var(--main-accent-color) !important;
      border-bottom-color: var(--main-accent-color) !important;
    }
  }
}
