
.container.index {
  padding-top: 5rem;
  padding-bottom: 5rem;

  table {
    box-sizing: border-box;

    a {
      color: var(--main-fg-color);
    }

    thead, thead * {
      z-index: 1;
      background: var(--main-bg-color);
      opacity: 1.0;
    }

    td {
      vertical-align: middle;

      i.thumbnail {
        font-size: 16px;
      }

      img.thumbnail {
        height: 24px;
        min-height: 24px;
        max-height: 24px;
        width: 24px;
        min-width: 24px;
        max-width: 24px;
      }

      .path.breadcrumb li {

        // move slashes from leading to trailing
        & + li::before {
          content: '';
        }

        & + li::after {
          content: "\0002f";
          color: var(--main-fg-color);
        }

        // remove trailing slash after filename
        & + li.filename::after {
          content: '' !important;
        }

        a {
          border-bottom: 0.1rem solid transparent;

          &:hover {
            border-bottom-color: var(--main-bg-color);
          }
        }
      }
    }

    tr td:first-of-type {
      text-align: center;
      width: 1px;
    }
  }
}

tr.clickableRow {
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
  opacity: 0.7;

  td {
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;

    progress {
      width: 100%;
      border-radius: 0 !important;
      border: 0;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;

      &.is-accent {
        border-left-color: var(--main-accent-color);
      }
    }
  }

  td:first-of-type {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  td:last-of-type {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  &:hover {
    opacity: 1.0;
    transform: scale(1.02, 1.02) !important;
    -webkit-transform: scale(1.02, 1.02) !important;
    -moz-transform: scale(1.02, 1.02) !important;

    td {
      color: var(--main-bg-color);

      // enforce color on breadcrumbs pseudo elements slashes
      .breadcrumb li + li::after,
      .breadcrumb li + li::before,
      {
        color: var(--main-bg-color) !important;
      }

      progress.is-accent {
        border-color: var(--main-bg-color);
        color: var(--main-bg-color);
        background-color: var(--main-accent-color);

        &::-webkit-progress-bar {
          background-color: var(--main-accent-color);
        }

        &::-webkit-progress-value {
          background-color: var(--main-bg-color);
        }

        &::-moz-progress-bar {
          background-color: var(--main-bg-color);
        }

        &::-ms-fill {
          background-color: var(--main-bg-color);
        }
      }

      a {
        color: var(--main-bg-color);
      }

      border-color: var(--main-accent-color);
      background-color: var(--main-accent-color);
    }
  }
}

