.sl-overlay {
  background: transparent !important;
  opacity: 1.0 !important;
}

.simple-lightbox {
  .sl-image > * {
    border-radius: 0.5rem !important;
  }
}

table.file-info {
  td:first-of-type {
    text-align: right;
  }
}
