a {
  color: var(--main-accent-color);

  &:hover {
    color: var(--main-fg-color);
  }
}

.button.is-accent {
  background-color: var(--main-accent-color);
  color: var(--main-bg-color);
}

.panel {
  &.is-accent .panel-heading {
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
  }
}

code {
  border-radius: 0.3rem;
}

progress.is-accent {
  color: var(--main-accent-color);
  background-color: var(--main-bg-color);

  &::-webkit-progress-bar {
    background-color: var(--main-bg-color);
  }

  &::-webkit-progress-value {
    background-color: var(--main-accent-color);
  }

  &::-moz-progress-bar {
    background-color: var(--main-accent-color);
  }

  &::-ms-fill {
    background-color: var(--main-accent-color);
  }

  &:indeterminate {
    background-image: linear-gradient(to right, var(--main-accent-color) 30%, var(--main-bg-color) 30%);
  }
}

.tingle-modal-box .content ul li {
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
