a {
  color: var(--main-accent-color);

  &:hover {
    color: var(--main-fg-color);
  }
}

.button {
  &.is-accent {
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
  }

  &.is-black.is-light {
    background-color: transparent;
    border-color: transparent;
    transition: background-color 0.1s ease-in-out, color 0.05s ease-in-out;

    &:hover {
      background-color: var(--main-fg-color);
      color: var(--main-bg-color);
    }
  }
}

.panel {
  &.is-accent .panel-heading {
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
  }
}

code {
  border-radius: 0.3rem;
}

progress.is-accent {
  color: var(--main-accent-color);
  background-color: var(--main-bg-color);

  &::-webkit-progress-bar {
    background-color: var(--main-bg-color);
  }

  &::-webkit-progress-value {
    background-color: var(--main-accent-color);
  }

  &::-moz-progress-bar {
    background-color: var(--main-accent-color);
  }

  &::-ms-fill {
    background-color: var(--main-accent-color);
  }

  &:indeterminate {
    background-image: linear-gradient(to right, var(--main-accent-color) 30%, var(--main-bg-color) 30%);
  }
}

.tingle-modal-box .content table {
  tbody tr td {

    border-color: transparent;

    &.data-attribute {
      font-weight: bold;
    }

    &.data-value {
      -moz-user-select: text;
      -khtml-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }

    &:first-of-type {
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
    }

    &:last-of-type {
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }

  }
}

.path.breadcrumb li a {
  padding: 0;
}

