.navbar, .navbar-menu.is-active {
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.06);
}

.navbar {
  .navbar-item.field {
    margin-bottom: 0;
    display: flex;
  }

  .navbar-link.logo {
    border-radius: 0.5rem;
    font-weight: bold;

    .path.breadcrumb li a {
      padding: 0;
    }
  }
}
