.navbar, .navbar-menu.is-active {
  //box-shadow: 0 0.4rem 0.6rem 0 rgba(12, 0, 46, 0.06);
  box-shadow: 0 0.2rem 1.5rem -1.2rem black;
  background-color: var(--main-navbar-color);
}

.navbar {
  .navbar-item.field {
    margin-bottom: 0;
    display: flex;
  }

  .navbar-link.logo {
    border-radius: 0.6rem;
    font-weight: bold;
    color: var(--main-fg-color);
  }

  a:hover {
    color: var(--main-accent-color);
  }

  .breadcrumb.path {
    a {
      color: var(--main-fg-color);
      border-bottom: 0.1rem solid transparent;

      &:hover {
        border-bottom-color: var(--main-accent-color);
      }
    }
  }
}

.navbar-item, .navbar-link {
  color: var(--main-fg-color);

  &:hover {
    background-color: var(--main-navbar-color);
  }
}
